@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(fonts/Philosopher/Philosopher-Regular.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(fonts/PlayfairDisplay/static/PlayfairDisplay-ExtraBold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: medium;
    font-weight: normal;
}

.navbar-toggler,
.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.customcss {
    display: flex;
    flex-direction: column;
}

.customcss .header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 48px;
}

.customcss .header .logo img {
    max-width: 71px;
    max-height: 71px;
    margin: 8px 0;
}

.customcss .header .menu {
    margin: 0 100px;
}

.customcss .header .menu a {
    font-style: normal;
    font-weight: 600;
    font-size: 13.9286px;
    line-height: 21px;
    text-decoration: none;
    color: #555547;
    margin: 0 10px;
}

.customcss .header .search-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customcss .header .search-login #submit {
    background-color: transparent;
    border: none;
    margin-right: 12px;
}

.customcss .header .search-login .input {
    width: 100px;
    background-color: transparent;
    border: none;
    margin-left: 12px;
    padding: 5px 20px;
}

.customcss .header .search-login .input:focus {
    border: none;
    outline: none;
}

.customcss .header .search-login .login {
    width: 64px;
    height: 32px;
    background-color: transparent;
    border: 2px solid #009090;
    border-radius: 9999px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12.381px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #009090;
    text-decoration: none;
}

.customcss .web-content .yogaimage {
    position: relative;
}

.customcss .web-content .yogaimage .wave {
    position: relative;
    z-index: 1;
}

.customcss .web-content .yogaimage .discount {
    position: absolute;
    top: 46%;
    left: 71%;
    z-index: 1;
}

.customcss .web-content .yogaimage .discount .data {
    position: absolute;
    /* top: -221px; */
    top: 2vw;
    left: 3vw;
    /* width: 204px;
    height: 211px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customcss .web-content .yogaimage .discount .data .percent {
    font-weight: 700;
    font-size: 4.5vw;
    line-height: 1.15;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.customcss .web-content .yogaimage .discount .data .text {
    font-weight: 600;
    font-size: 2.35vw;
    line-height: 1;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.customcss .web-content .yogaimage .image-content {
    position: absolute;
    top: 8vw;
    left: 8vw;
    z-index: 1;
    width: 33.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.customcss .web-content .yogaimage .image-content .title {
    font-family: Philosopher, 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.25vw;
    line-height: 1.15;
    color: #0E5C63;
    margin-bottom: 2vw;
}

.customcss .web-content .yogaimage .image-content .description {
    font-weight: 700;
    font-size: 1.21vw;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #555547;
    margin-bottom: 3vw;
}

.customcss .web-content .yogaimage .img {
    position: absolute;
    top: 26.2vw;
    z-index: -1;
    width: 100%;
    height: auto;
}

.customcss .content {
    margin: 0 11vw;
    /* margin-top: -100px; */
    position: relative;
    top: 28.5vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .features {
    background-color: #F8F8F6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.customcss .features .feature-content {
    width: 33.33%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 30px;
}

.customcss .features .feature-content img {
    width: 56px;
    height: 56px;
}

.customcss .features .feature-content .heading {
    width: 100%;
    text-align: center;
    color: #0E5C63;
    font-weight: 700;
    font-size: 24px;
}

.customcss .features .feature-content .description {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #555547;
    min-height: 90px;
    margin-top: 10px;
}

.customcss .features .feature-content .excellentbadge {
    display: flex;
    width: 100%;
}

.customcss .features .feature-content .excellentbadge img {
    width: 99px;
    height: 90px;
}

.customcss .features .feature-content .excellentbadge .description {
    text-align: left;
    margin-left: 10px;
}

.customcss .yogavideos {
    width: 100%;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.customcss .yogavideos .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
    text-align: center;
}

.customcss .yogavideos .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 6.707vw;
}

.customcss .yogavideos .yoga-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.customcss .yogavideos .yoga-content .video {
    width: 32.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px auto;
    background: #F8F8F6;
    border-radius: 24px;
}

.customcss .yogavideos .yoga-content .video .img {
    width: 100%;
    height: auto;
    border-radius: 24px 24px 0 0;
}

.customcss .yogavideos .yoga-content .video .video-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 16px 16px 16px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidauthor {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    color: #555547;
}

.customcss .yogavideos .yoga-content .video .video-content .vidtitle {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    color: #555547;
    margin: 6px 0;
    min-height: 45px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter span {
    font-weight: 400;
    font-size: 18px;
    color: #555547;
    margin: 0 5px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter .watch {
    width: 16px;
    height: 16px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter .level {
    width: 23px;
    height: 18px;
    margin-left: 5px;
}

.customcss .discountbtn {
    border-radius: 9999px;
    background: #F1A293;
    font-weight: 600;
    font-size: 1.34vw;
    /* 20px */
    color: #FFFFFF;
    padding: 0.75vw 3.35vw;
    text-decoration: none;
    margin-top: 1vw;
}

.customcss .workshop {
    width: 100%;
    margin: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .workshop .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
    text-align: center;
}

.customcss .workshop .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 6.707vw;
}

.customcss .workshop .workshop-banner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.customcss .workshop .workshop-banner picture {
    width: 50%;
    /* display: flex; */
    /* align-self: stretch; */
}

.customcss .workshop .workshop-banner picture img {
    width: 100%;
    border-radius: 24px 0 0 24px;
}

.customcss .workshop .workshop-banner .banner-content {
    width: 50%;
    background-color: #FFF3EB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    align-self: stretch;
    border-radius: 0 24px 24px 0;
}

.customcss .workshop .workshop-banner .banner-content .title {
    width: 100%;
    font-family: PlayfairDisplay, serif;
    font-size: 2.6vw;
    line-height: 1.15;
    text-align: center;
    color: #0E5C63;
    padding: 0 25px;
    margin: 1.61vw 0 0;
}

.customcss .workshop .workshop-banner .banner-content .btnjoinworkshop {
    padding: 0.537vw 3.353vw;
    font-weight: 600;
    font-size: 1.341vw;
    color: #009090;
    border: 2px solid #009090;
    border-radius: 9999px;
    text-decoration: none;
    margin: 1.61vw 0;
    margin-right: 12%;
}

/* .customcss .workshop .workshop-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 24px;
    position: relative;
}

.customcss .workshop .workshop-banner img {
    width: 100%;
    position: relative;
    border-radius: 24px;
}

.customcss .workshop .workshop-banner .btnjoinworkshop {
    position: absolute;
    padding: 8px 50px;
    font-weight: 600;
    font-size: 20px;
    color: #009090;
    border: 2px solid #009090;
    border-radius: 9999px;
    text-decoration: none;
    bottom: 35px;
    right: 60px;
} */

.customcss .instructor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
    background: #F8F8F6;
}

.customcss .instructor .instructor-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.customcss .instructor .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
    text-align: center;
}

.customcss .instructor .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 6.707vw;
}

.customcss .instructor .instructor-info {
    width: 100%;
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.customcss .instructor .instructor-info .instructor-info-item {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
    margin: 15px 0;
    /* flex-wrap: wrap; */
}

.customcss .instructor .instructor-info .instructor-info-item img {
    width: 68.78%;
    height: auto;
    max-width: 200px;
    /* width: 13.414vw;
    height: 13.414vw; */
    border-radius: 100%;
}

.customcss .instructor .instructor-info .instructor-info-item .instructor-info-item-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.customcss .instructor .instructor-info .instructor-info-item .instructor-info-item-content .title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #0E5C63;
    margin: 20px 0;
    padding: 0 20px;
}

.customcss .instructor .instructor-info .instructor-info-item .instructor-info-item-content .description {
    width: 100%;
    min-height: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #555547;
    margin: 0;
    padding: 0 20px;
}

.customcss .yogaprograms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
}

.customcss .yogaprograms .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
    text-align: center;
}

.customcss .yogaprograms .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 6.707vw;
}

.customcss .yogaprograms .carousel .carousel-inner .carousel-item img {
    border-radius: 24px
}

.customcss .yogaprograms .carousel.slide .carousel-indicators.custom {
    position: relative;
    margin: 5px;
}

.customcss .yogaprograms .carousel.slide .carousel-indicators .slider-dot {
    height: 10px;
    width: 10px;
    background-color: #BABABA;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.customcss .yogaprograms .carousel.slide .carousel-indicators .slider-dot.active {
    background-color: #009090;
}

.customcss .discountbtn.margin-var {
    margin: 48px 0;
}

.customcss .yogaarticle {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .yogaarticle .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
    text-align: center;
}

.customcss .yogaarticle .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 6.707vw;
}

.customcss .yogaarticle .yoga-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.customcss .yogaarticle .yoga-content .article {
    width: 32.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px auto;
    background: #009090;
    border-radius: 24px;
}

.customcss .yogaarticle .yoga-content .article .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 24px 24px 0 0;
    top: -2px;
    position: relative;
}

.customcss .yogaarticle .yoga-content .article .article-content {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 16px 16px 16px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articletitle {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin: 6px 0;
    min-height: 52px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articlefooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articlefooter .gotoarticle {
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 5px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articlefooter .gotoarticleimg {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.customcss .download-banner {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.customcss .download-banner .img {
    width: 58%;
}

.customcss .download-banner .right {
    width: 42%;
    background-color: #E6F2F0;
    display: block;
    align-items: baseline;
    justify-content: center;
    align-items: center;
}

.customcss .download-banner .right .mobile {
    width: 100%;
    height: 56px;
    margin: 24px 0;
}

.customcss .download-banner .right .title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #0E5C63;
    display: block;
    margin: 0 40px;
    line-height: 48px;
}

.customcss .download-banner .right .description {
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    line-height: 27px;
    margin: 0 15px;
}

.customcss .download-banner .right .download {
    display: flex;
    margin: 0 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.customcss .download-banner .right .download img {
    width: 150px;
    height: 45px;
    margin: 0 10px 30px 10px;
}

.customcss .academy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.customcss .academy .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
    text-align: center;
}

.customcss .academy .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 6.707vw;
}

.customcss .academy img {
    width: 100%;
    border-radius: 24px;
    margin: 10px 0;
}

.customcss .reviews {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
}

.customcss .reviews .review {
    width: 32.5%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin: 10px auto;
    position: relative;
    background: #F3EEE9;
    border-radius: 12px;
    align-self: stretch;
}

.customcss .reviews .review .stars {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 1.61vw 0;
    z-index: 2;
}

.customcss .reviews .review .review-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1vw 4.695vw 1vw;
    z-index: 2;
}

.customcss .reviews .review .review-content .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #555547;
    align-items: center;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
}

.customcss .reviews .review .review-content .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #555547;
    align-items: center;
    text-align: center;
    display: block;
    margin: 16px 0;
}

.customcss .reviews .review .review-content .description2 {
    margin: 0;
}

.customcss .reviews .review .double-quota {
    position: absolute;
    top: 22%;
    left: 31%;
    z-index: 0;
}

.customcss .users {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .users .title {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #555547;
}

.customcss .users .companys {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.customcss .users .companys .img {
    margin: 10px 20px;
    width: auto;
    height: auto;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: linear-gradient(180deg, #128788 0%, #0E5C63 59.37%);
    margin-bottom: 32.931vw;
    position: relative;
    top: 29.712vw;
}

.footer-container {
    width: 100%;
    padding: 3.219vw 11.402vw 5.634vw 11.402vw;
}

.footer-container .newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container .newsletter .title {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.footer-container .newsletter .description {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 13px 0;
}

.footer-container .newsletter form {
    display: block;
}

.footer-container .newsletter .input {
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-shadow: inset 0px 1.25px 2.5px rgba(10, 10, 10, 0.05);
    border-radius: 4px;
    width: 21.328vw;
    height: 4.024vw;
    min-width: 230px;
    min-height: 36.13px;
    padding: 0 20px;
    margin: 16px 0;
    outline: none;
}

.footer-container .newsletter .submit {
    /* padding: 10px 63.2656px 10px 63.7344px; */
    padding: 0.671vw 4.292vw 0.671vw 4.292vw;
    width: 21.328vw;
    height: 3.353vw;
    min-width: 230px;
    min-height: 36.13px;
    background: #FFFFFF;
    border-radius: 9999px;
    font-weight: 400;
    font-size: 1.341vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555547;
    border: none;
}

.footer-container .pages {
    display: flex;
    width: 100%;
    padding: 48px 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container .pages .col {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
}

.footer-container .pages .col .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 12px;
}

.footer-container .pages .col .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-container .pages hr {
    margin-bottom: 24px;
    background-color: #FFFFFF80;
    height: 1px;
}

.footer-container .pages-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container .pages-bottom .data {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 6px;
    text-decoration: none;
}

.footer-container .social-media {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.footer-container .social-media .col {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.footer-container .social-media .col a {
    text-decoration: none;
    margin: 0 5px;
}

.footer-container .social-media .col img {
    margin: 5px 0;
}


/* Break points */
@media only screen and (max-width: 1199.5px) {

    .rmw-auto {
        width: 100% !important;
    }

    .xlw-100 {
        width: 100% !important;
    }

    .xl-d-flex-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .xl-my-menu {
        margin: 5px 0 !important;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    .features>* {
        flex: 1 1 45vw;
    }

    .yoga-content>* {
        flex: 1 1 45vw;
    }

    .reviews>* {
        flex: 1 1 45vw;
    }

    .download-banner .img,
    .download-banner .right {
        width: 100% !important;
    }

    .workshop .workshop-banner picture,
    .workshop .workshop-banner picture img,
    .workshop .workshop-banner .banner-content {
        border-radius: 0 !important;
        width: 100% !important;
    }

    .workshop .workshop-banner .banner-content .btnjoinworkshop {
        margin: 1.61vw auto !important;
    }

    .workshop .workshop-banner picture img {
        border-radius: 24px 24px 0 0 !important;
    }

    .workshop .workshop-banner .banner-content {
        border-radius: 0 0 24px 24px !important;
    }

    .workshop .workshop-banner .banner-content .title {
        font-size: 18px !important;
    }

    .workshop .workshop-banner .banner-content .btnjoinworkshop {
        font-size: 12px !important;
    }

    .instructor-info>* {
        flex: 1 1 43vw;
    }

    .footer-container .pages>* {
        flex: 1 1 27vw
    }

    .footer-container .pages .col {
        padding: 20px 20px 20px 0;
    }

    .social-media>* {
        flex: 1 1 43vw;
    }

    .social-media .col {
        justify-content: center !important;
        align-items: center !important;
    }

    .image-content .discountbtn {
        font-size: 1.5vw;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .features>* {
        flex: 1 1 34vw;
    }

    .yoga-content>* {
        flex: 0 1 38vw;
    }

    .reviews>* {
        flex: 0 1 38vw;
    }

    .download-banner .img,
    .download-banner .right {
        width: 100% !important;
    }

    .workshop .workshop-banner picture,
    .workshop .workshop-banner picture img,
    .workshop .workshop-banner .banner-content {
        border-radius: 0 !important;
        width: 100% !important;
    }

    .workshop .workshop-banner .banner-content .btnjoinworkshop {
        margin: 1.61vw auto !important;
    }

    .workshop .workshop-banner picture img {
        border-radius: 24px 24px 0 0 !important;
    }

    .workshop .workshop-banner .banner-content {
        border-radius: 0 0 24px 24px !important;
    }

    .workshop .workshop-banner .banner-content .title {
        font-size: 24px !important;
    }

    .workshop .workshop-banner .banner-content .btnjoinworkshop {
        font-size: 16px !important;
    }

    .instructor-info>* {
        flex: 1 1 27vw;
    }

    .footer-container .pages>* {
        flex: 1 1 27vw
    }

    .footer-container .pages .col {
        padding: 20px 20px 20px 0;
    }

    .social-media>* {
        flex: 1 1 33vw;
    }

    .social-media .col {
        justify-content: center !important;
        align-items: center !important;
    }

    .image-content .discountbtn {
        font-size: 1.5vw;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

    .features>* {
        flex: 1 1 27vw;
    }

    .yoga-content>* {
        flex: 0 1 38vw;
        justify-content: center !important;
    }

    .reviews>* {
        flex: 0 1 38vw;
        justify-content: center !important;
    }

    .download-banner .img,
    .download-banner .right {
        width: 100% !important;
    }

    .instructor-info>* {
        flex: 1 1 27vw;
    }

    .image-content .discountbtn {
        font-size: 1.5vw;
    }
}

/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px) { */
@media (min-width: 1025px) {

    .features>* {
        flex: 1 1 23vw;
    }

    .yoga-content>* {
        flex: 0 1 25vw;
    }

    .reviews>* {
        flex: 0 1 25vw;
    }

    .download-banner>* {
        flex: 0 1 25vw;
    }

    /* .instructor-info>* {
        flex: 1 1 27vw;
    } */

    .instructor .instructor-info .instructor-info-item {
        margin: 0 !important;
    }
}

/* Media Query for Large screens
@media (min-width: 1281px) {

    .features>* {
        flex: 1 1 23vw;
    }

    .yoga-content>* {
        flex: 0 1 25vw;
    }
} */

@media (max-width: 1024px) {

    .newsletter .submit {
        font-size: 15px !important;
    }
}