@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: medium;
    font-weight: normal;
}

.customcss .header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customcss .header .logo img {
    max-width: 71px;
    max-height: 71px;
}

.customcss .header .menu {
    margin: 0 100px;
}

.customcss .header .menu a {
    font-style: normal;
    font-weight: 600;
    font-size: 13.9286px;
    line-height: 21px;
    text-decoration: none;
    color: #555547;
    margin: 0 10px;
}

.customcss .header .search-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customcss .header .search-login #search {
    background-color: transparent;
    border: none;
    margin: 0 12px;
}

.customcss .header .search-login .login {
    width: 64px;
    height: 32px;
    background-color: transparent;
    border: 2px solid #009090;
    border-radius: 9999px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12.381px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #009090;
    text-decoration: none;
}

.customcss .web-content .wave {
    width: 2136.65px;
    height: 1611.92px;
    bottom: 0.53%;
    background: linear-gradient(90deg, #D5D4D0 0%, #D5D4D0 1%, #EEEEEC 31%);
}

.customcss .web-content .yogaimage {
    width: 100%;
    height: auto;
}

.customcss .content {
    margin: 0 171px;
    margin-top: -100px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .features {
    background-color: #F8F8F6;
    display: flex;
    width: 100%;
}

.customcss .features .feature-content {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.customcss .features .feature-content img {
    width: 56px;
    height: 56px;
}

.customcss .features .feature-content .heading {
    width: 100%;
    text-align: center;
    color: #0E5C63;
    font-weight: 700;
    font-size: 24px;
}

.customcss .features .feature-content .description {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #555547;
    min-height: 90px;
    margin-top: 10px;
}

.customcss .features .feature-content .excellentbadge {
    display: flex;
}

.customcss .features .feature-content .excellentbadge img {
    width: 99px;
    height: 90px;
}

.customcss .features .feature-content .excellentbadge .description {
    text-align: left;
    margin-left: 10px;
}

.customcss .yogavideos {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .yogavideos .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
}

.customcss .yogavideos .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 100px;
}

.customcss .yogavideos .yoga-content {
    display: flex;
}

.customcss .yogavideos .yoga-content .video {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background: #F8F8F6;
    border-radius: 24px;
}

.customcss .yogavideos .yoga-content .video .img {
    width: 100%;
    height: auto;
    border-radius: 24px 24px 0 0;
}

.customcss .yogavideos .yoga-content .video .video-content {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 16px 16px 16px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidauthor {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    color: #555547;
}

.customcss .yogavideos .yoga-content .video .video-content .vidtitle {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    color: #555547;
    margin: 6px 0;
    min-height: 45px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter {
    display: flex;
    align-items: center;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter span {
    font-weight: 400;
    font-size: 18px;
    color: #555547;
    margin: 0 5px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter .watch {
    width: 16px;
    height: 16px;
}

.customcss .yogavideos .yoga-content .video .video-content .vidfooter .level {
    width: 23px;
    height: 18px;
    margin-left: 5px;
}

.customcss .discountbtn {
    border-radius: 9999px;
    background: #F1A293;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 50px;
    text-decoration: none;
    margin-top: 10px;
}

.customcss .workshop {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .workshop .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
}

.customcss .workshop .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 100px;
}

.customcss .workshop .workshop-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 24px;

    /* background-image: url(images/banner-liveklassen-workshoips-allgemein-2320x464.svg);
    background-size: cover;
    background-repeat: no-repeat; */

    position: relative;
}

.customcss .workshop .workshop-banner img {
    width: 100%;
    position: relative;
    border-radius: 24px;
}

.customcss .workshop .workshop-banner .btnjoinworkshop {
    position: absolute;
    padding: 8px 50px;
    font-weight: 600;
    font-size: 20px;
    color: #009090;
    border: 2px solid #009090;
    border-radius: 9999px;
    text-decoration: none;
    bottom: 35px;
    right: 60px;
}

.customcss .instructor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
    background: #F8F8F6;
}

.customcss .instructor .instructor-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.customcss .instructor .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
}

.customcss .instructor .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 100px;
}

.customcss .instructor .instructor-info {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.customcss .instructor .instructor-info .instructor-info-item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .instructor .instructor-info .instructor-info-item img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.customcss .instructor .instructor-info .instructor-info-item .instructor-info-item-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 15px;
}

.customcss .instructor .instructor-info .instructor-info-item .instructor-info-item-content .title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #0E5C63;
    margin: 20px 0;
}

.customcss .instructor .instructor-info .instructor-info-item .instructor-info-item-content .description {
    width: 100%;
    min-height: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #555547;
    margin: 0;
}

.customcss .yogaprograms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
}

.customcss .yogaprograms .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
}

.customcss .yogaprograms .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 100px;
}

.customcss .yogaprograms .carousel .carousel-inner .carousel-item img {
    border-radius: 24px
}

.customcss .yogaprograms .carousel.slide .carousel-indicators.custom {
    position: relative;
    margin: 5px;
}

.customcss .yogaprograms .carousel.slide .carousel-indicators .slider-dot {
    height: 10px;
    width: 10px;
    background-color: #BABABA;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.customcss .yogaprograms .carousel.slide .carousel-indicators .slider-dot.active {
    background-color: #009090;
}

.customcss .discountbtn.margin-var {
    margin: 48px 0;
}

.customcss .yogaarticle {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .yogaarticle .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
}

.customcss .yogaarticle .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 100px;
}

.customcss .yogaarticle .yoga-content {
    display: flex;
}

.customcss .yogaarticle .yoga-content .article {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background: #009090;
    border-radius: 24px;
}

.customcss .yogaarticle .yoga-content .article .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 24px 24px 0 0;
    top: -2px;
    position: relative;
}

.customcss .yogaarticle .yoga-content .article .article-content {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 16px 16px 16px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articletitle {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin: 6px 0;
    min-height: 52px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articlefooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articlefooter .gotoarticle {
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 5px;
}

.customcss .yogaarticle .yoga-content .article .article-content .articlefooter .gotoarticleimg {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.customcss .download-banner {
    width: 100%;
    margin: 40px 0;
    display: flex;
}

.customcss .download-banner .img {
    width: 58%;
    height: auto;
}

.customcss .download-banner .right {
    width: 42%;
    background-color: #E6F2F0;
    display: block;
    align-items: baseline;
    justify-content: center;
    align-items: center;
}

.customcss .download-banner .right .mobile {
    width: 100%;
    height: 56px;
    margin: 24px 0;
}

.customcss .download-banner .right .title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #0E5C63;
    display: block;
    margin: 0 40px;
    line-height: 48px;
}

.customcss .download-banner .right .description {
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    line-height: 27px;
    margin: 0 15px;
}

.customcss .download-banner .right .download {
    display: flex;
    margin: 0 40px;
    justify-content: center;
    align-items: center;
}

.customcss .download-banner .right .download img {
    width: 150px;
    height: 45px;
}

.customcss .academy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.customcss .academy .heading {
    font-weight: 700;
    font-size: 32px;
    color: #0E5C63;
}

.customcss .academy .description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555547;
    margin: 15px 100px;
}

.customcss .academy img {
    width: 100%;
    border-radius: 24px;
    margin: 10px 0;
}

.customcss .reviews {
    width: 100%;
    display: flex;
    margin: 48px 0;
}

.customcss .reviews .review {
    width: 33.33%;
    display: block;
    background: #F3EEE9;
    border-radius: 12px;
    margin: 0 10px;
    position: relative;
}

.customcss .reviews .review .stars {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 24px 0;
    z-index: 2;
}

.customcss .reviews .review .review-content {
    display: block;
    width: 100%;
    padding: 0 15px 70px 15px;
    z-index: 2;
}

.customcss .reviews .review .review-content .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #555547;
    align-items: center;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
}

.customcss .reviews .review .review-content .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #555547;
    align-items: center;
    text-align: center;
    display: block;
    margin: 16px 0;
}

.customcss .reviews .review .review-content .description2 {
    margin: 0;
}

.customcss .reviews .review .double-quota {
    position: absolute;
    top: 70px;
    left: 112px;
    z-index: 0;
}

.customcss .users {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customcss .users .title {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #555547;
}

.customcss .users .companys {
    margin: 24px 0;
}

.customcss .users .companys .img {
    margin: 0 20px;
    width: auto;
    height: auto;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: linear-gradient(180deg, #128788 0%, #0E5C63 59.37%);
}

.footer-container {
    margin: 48px 170px;
}

.footer-container .newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container .newsletter .title {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.footer-container .newsletter .description {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 13px 0;
}

.footer-container .newsletter form {
    display: block;
}

.footer-container .newsletter .input {
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-shadow: inset 0px 1.25px 2.5px rgba(10, 10, 10, 0.05);
    border-radius: 4px;
    width: 318px;
    height: 60px;
    padding: 0 20px;
    margin: 16px 0;
}

.footer-container .newsletter .submit {
    padding: 10px 63.2656px 10px 63.7344px;
    width: 318px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 9999px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #555547;
    border: none;
}